In [1]:
import pandas as pd
from sklearn.preprocessing import minmax_scale
from sklearn.decomposition import TruncatedSVD
from tqdm.notebook import tqdm_notebook as tqdm

In [2]:
sims_long = pd.read_csv('../../data/raw/sim_rel_combined.csv')
sims_long

        data              word_1             word_2  value         type
0      AG203                king            cabbage  0.023   similarity
1      AG203           professor           cucumber  0.031   similarity
2      AG203                noon             string  0.054   similarity
3      AG203               chord              smile  0.054   similarity
4      AG203             rooster             voyage  0.062   similarity
...      ...                 ...                ...    ...          ...
27439  Zie30              Eminem              Music  4.137  relatedness
27440  Zie30  Currency Converter     Exchange Rates  4.137  relatedness
27441  Zie30                Cars              Honda  4.176  relatedness
27442  Zie30             EasyJet      Cheap Flights  4.294  relatedness
27443  Zie30           Microsoft  Internet Explorer  4.314  relatedness

[27444 rows x 5 columns]

In [4]:
sims_long['data'].unique()

array(['AG203', 'BakerVerb', 'MartinezAldana', 'MC30', 'MEN3000', 'RG65',
       'SimLex999', 'SimVerb3500', 'SL7576sem', 'SL7576vis', 'WP300',
       'YP130', 'Atlasify240', 'GM30', 'MT287', 'MT771', 'Rel122',
       'RW2034', 'WordSim353', 'Zie25', 'Zie30'], dtype=object)

In [3]:
# Looking at the scales for each dataset
sims_long.groupby('data').agg(['min', 'max'])

/var/folders/st/5gbrfvhn687dxwjl5_xg21t40000gq/T/ipykernel_90172/2592674285.py:2: FutureWarning: ['word_1', 'word_2'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  sims_long.groupby('data').agg(['min', 'max'])

                  value                    type
                    min        max          min          max
data
AG203           0.02300   1.000000   similarity   similarity
Atlasify240     0.00000   4.000000  relatedness  relatedness
BakerVerb       0.07000   0.790000   similarity   similarity
GM30            0.05000   4.000000  relatedness  relatedness
MC30            0.08000   3.920000   similarity   similarity
MEN3000         0.00000  50.000000   similarity   similarity
MT287           1.40000   4.714286  relatedness  relatedness
MT771           1.00000   4.960000  relatedness  relatedness
MartinezAldana  0.05600   0.915000   similarity   similarity
RG65            0.02000   3.940000   similarity   similarity
RW2034          0.00000  10.000000  relatedness  relatedness
Rel122          0.12941   3.941180  relatedness  relatedness
SL7576sem       1.00000   5.000000   similarity   similarity
SL7576vis       1.00000   5.000000   similarity   similarity
SimLex999       0.23000   9.800000   similarity   similarity
SimVerb3500     0.00000   9.960000   similarity   similarity
WP300           0.00000   0.950000   similarity   similarity
WordSim353      0.23000  10.000000  relatedness  relatedness
YP130           0.00000   4.000000   similarity   similarity
Zie25           1.04300   4.391000  relatedness  relatedness
Zie30           1.09800   4.314000  relatedness  relatedness

In [4]:
# Min max scaling
for dataset in tqdm(sims_long['data'].unique()):
    dat_bool = sims_long['data'] == dataset
    sims_long.loc[dat_bool, 'value'] = minmax_scale(sims_long.loc[dat_bool, 'value'])

sims_long

  0%|          | 0/21 [00:00<?, ?it/s]

        data              word_1             word_2     value         type
0      AG203                king            cabbage  0.000000   similarity
1      AG203           professor           cucumber  0.008188   similarity
2      AG203                noon             string  0.031730   similarity
3      AG203               chord              smile  0.031730   similarity
4      AG203             rooster             voyage  0.039918   similarity
...      ...                 ...                ...       ...          ...
27439  Zie30              Eminem              Music  0.944963  relatedness
27440  Zie30  Currency Converter     Exchange Rates  0.944963  relatedness
27441  Zie30                Cars              Honda  0.957090  relatedness
27442  Zie30             EasyJet      Cheap Flights  0.993781  relatedness
27443  Zie30           Microsoft  Internet Explorer  1.000000  relatedness

[27444 rows x 5 columns]

In [5]:
# Ordering word pairs so that each pair only has one ordering for aggregating
sims_long = pd.DataFrame({
    'word_a': sims_long[['word_1', 'word_2']].min(axis=1),
    'word_b': sims_long[['word_1', 'word_2']].max(axis=1),
    'value': sims_long['value']
})

# Aggregating 
sims_long = sims_long.groupby(['word_a', 'word_b'], as_index=False).mean()

# Pivoting 
voc = pd.concat([sims_long['word_a'], sims_long['word_b']]).unique()
sims_wide = pd.DataFrame(columns=voc, index=voc)
for _, row in tqdm(sims_long.iterrows(), total=len(sims_long)):
    word_a, word_b, val = row['word_a'], row['word_b'], row['value']
    sims_wide.loc[word_a, word_b] = val
    sims_wide.loc[word_b, word_a] = val

sims_wide.shape

  0%|          | 0/19230 [00:00<?, ?it/s]

(6837, 6837)

In [6]:
# Dropping columns with < 5 values
sims_wide = sims_wide.dropna(thresh=5, axis=1)

# Filling in missing values
sims_wide = sims_wide.fillna(0.0)
sims_wide.shape

(6837, 1754)

In [7]:
# SVD
svd = TruncatedSVD(n_components=300, algorithm='arpack', random_state=42)
sims = pd.DataFrame(svd.fit_transform(sims_wide), index=sims_wide.index)
sims

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
4Chan,1.928169e-07,-2.567416e-07,2.200080e-07,4.151120e-06,3.368289e-07,-3.115937e-08,8.713444e-08,-1.543855e-07,-1.316228e-07,-4.946256e-07,...,7.257943e-05,-1.205384e-07,2.190560e-05,-4.154759e-06,-3.204082e-05,1.745400e-05,2.649955e-07,2.506515e-05,-3.121751e-05,4.464578e-05
ABBA,-1.523386e-16,-7.148889e-17,1.977402e-16,-2.560307e-16,6.674459e-17,5.238420e-17,1.261457e-17,-2.440393e-16,5.282166e-17,-7.630204e-17,...,2.264116e-16,-6.220990e-17,-3.768431e-16,7.515032e-17,6.303051e-17,5.473735e-28,-4.489325e-16,8.951875e-17,-2.943951e-29,4.904431e-31
AOL Instant Messenger,1.633055e-11,-4.801083e-11,4.397727e-11,9.065857e-10,8.777467e-11,-1.232762e-11,3.959962e-11,-7.903407e-11,-7.442117e-11,-3.056924e-10,...,-8.072857e-06,2.356529e-06,-5.161654e-06,-1.951415e-06,2.963532e-06,2.961440e-07,2.827138e-06,-5.040901e-07,2.416639e-06,-4.936657e-06
Abortion,-3.170526e-16,2.043911e-16,-4.069035e-17,1.590498e-16,6.667699e-17,-2.901031e-16,1.344016e-18,2.026911e-16,-8.996400e-17,-9.148470e-17,...,7.547054e-17,-6.032475e-17,1.168213e-16,-1.404372e-16,7.404328e-17,-1.946148e-16,-2.182160e-28,1.514480e-29,1.680870e-29,3.128055e-30
Africa,8.170211e-07,-1.100324e-06,9.439845e-07,1.783941e-05,1.452384e-06,-1.355746e-07,3.804035e-07,-6.760704e-07,-5.779222e-07,-2.177043e-06,...,6.702510e-04,-1.614633e-06,2.034998e-04,-3.831733e-05,-3.003825e-04,1.640447e-04,2.104760e-06,2.377431e-04,-2.974277e-04,4.265574e-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
winners,-0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00,-0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-0.000000e+00
weekend,-0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00,-0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-0.000000e+00
willingness,-0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00,-0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-0.000000e+00
wireless network,-0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00,-0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-0.000000e+00
workshop,-0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00,-0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-0.000000e+00

In [8]:
sims.to_pickle('../../data/processed/SVD_sim_rel.pkl')